
.grid-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.description{
  height: 1500px;
  overflow:hidden;
  padding: 20px;
}
.checkout{
  padding: 20px;
  height: 800px;
  overflow:hidden;
  background-color: #009639;
  position: sticky;
  top: 60px;

}
.footer{
  height: 500px;
  background-color: #009639;
}
@media (max-width: 768px){
  .grid-container{
    grid-template-columns: 1fr;
  }
}